.main_body{
    display: grid;
    grid-template-columns: 4fr 1fr;
}


.news_wrap{
    display: grid;
    grid-template-columns: 1.3fr 3fr;
}

.title_details{
    border-right: 1px solid #ccc;
}

.titlenews{
    padding: 0px 15px 0px 10px; 
    padding-top: 0;
    margin-bottom: 0px;
    line-height: 25px;
}

.titlenews hr{
    margin-top: 7px;
    margin-bottom: 7px;
}

.news_title{
    font-size: 25px;
    font-weight: 700;
    font-family: "Escrow Condensed",Georgia,Serif !important;
}

.titlenews p a {
    font-family: "Escrow Condensed",Georgia,Serif !important;
}

.titlenews p{
    font-family: "Exchange",Georgia,Serif;
}
.info_hr{
    margin-top: 30px;
    margin-bottom: 15px;
}


.worldnews{
    height:auto;
    padding: 10px;
}

.worldnews p a {
    font-family: "Escrow Condensed",Georgia,Serif !important;
}

.worldnews p{
    font-family: "Exchange",Georgia,Serif;
}

.news_desc{
    line-height: 18px;
    font-size: 14px;
    margin: 0;
}

.time{
    font-size: 12px;
    color: rgb(161, 161, 161);
    margin: 0;
}

.first_news{
    display: block;
    padding: 0px 10px 0px 10px;
    text-align: center;
}

.first_news p a {
    font-family: "Escrow Condensed",Georgia,Serif !important;
}

.first_news p{
    font-family: "Exchange",Georgia,Serif;
}

.first_news hr{
    margin-bottom: 5px;
    margin-top: 5px;
}

.img_details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
}






.inner_hr{
    margin-left: 10px;
    margin-right: 10px;
}

.short_section{
    border-left: 1px solid #ccc;
}

.recomnews{
    height:auto;
    padding: 0 10px 0 10px;
    padding-top: 0;
    
}

.r_hr{
    margin: 5px 0 5px 0;
}
.r_heading{
    padding: 0 10px 0px 10px;
    text-decoration: underline;
    margin-bottom: 5px;
    font-size: 23px;
    font-weight: 500;
}

.recom_title{
    margin: 0;
    padding-bottom: 5px;
}


.recom_title a {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    line-height: 15px;
    font-family: "Escrow Condensed",Georgia,Serif;
}

.recom_author,.recom_time{
    font-size: 12px;
    color: rgb(161, 161, 161);
    margin: 0;
}


.opinion_details{
    padding: 0 10px 0 10px;
}
.opinion_heading{
    text-decoration: underline;
    margin-bottom: 10px;
    color: #a28c6d;
    font-size: 20px;
    font-weight: 500;
    font-family: "Retina Narrow","Retina","Arial Narrow",Arial, Helvetica, sans-serif;
}

.opinion_news{
    padding: 0;
}




.bus_title{
    padding: 10px 15px 10px 10px;
    font-size: 18px;
    font-weight: 500;
}

.bus_news{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 10px;
}

.bus_desc_img2{
    display: flex;
    justify-content: space-between;
}

.bus_news_title{
    font-size: 20px;
    font-weight: 700;
    font-family: "Escrow Condensed",Georgia,Serif;
}

.bus_news_desc{
    font-size: 14px;
    line-height: 20px;
    font-family: "Exchange",Georgia,Serif;
}

.bus_details1{
    padding: 0 20px 10px 10px;
}

.bus_details2{
    padding: 0 10px 10px 10px;
}
